.loginPage {
  height: 100%;
  background-image: url("../assets/bg-login.jpg");
  background-position: center;
}

.loginInner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .loginForm {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    margin-bottom: 8px;
  }
}
